**/Credentials.plist
**/Credentials.swift

Podfile.lock

.DS_Store
Carthage
xcuserdata
*.ipa
*.dSYM.zip
*.mobileprovision
fastlane/Preview.html
fastlane/report.xml
Derived
xcuserdata
*.xcodeproj
fastlane/screenshots
